/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
  background-color: black;
  color: green;
  font-family: "Comic Sans MS", "Comic Sans", cursive;;
}

.content {
  min-height: calc(100vh - 70px);
}
.footer {
  height: 50px;
}

#title:hover {
	color: lightgreen;
}

#subtitle p {
	display: inline-block;
}



.marquee, #subtitle {
    width: 650px;
	line-height: 0px;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}
.marquee p {
    display: inline-block;
    padding-right: 100%;
    animation: marquee 12s linear infinite;
}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-50%, 0); }
}



#goc-tokens {
	color: 'gold';
	 
}

.get-tokens-btn {
	    margin-left: 25px;
   
}



.glass{
	/* background styles */
	position: relative;
	display: inline-block;
	padding: 15px 25px;
	background-color: green; /*for compatibility with older browsers*/
	background-image: linear-gradient(green,lightgreen);

	/* text styles */
	text-decoration: none;
	color: #fff;
	font-size: 25px;
	font-family: sans-serif;
	font-weight: 100;
	
	border-radius: 3px;
box-shadow: 0px 1px 4px -2px #333;
text-shadow: 0px -1px #333;
cursor: pointer;
}

.glass:after{
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: calc(100% - 4px);
	height: 50%;
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}

.glass:hover{
	background: linear-gradient(#073,#0fa);
}